<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste MVC</title>
<header>
</header> 
<body>
    <h1>Teste MVC</h1>
    <form action="/controller/Calcular/calculate.php" method="POST">
         <label for="n1">Numero 1 </label>
         <input type="text" id="n1" name="n1">

         <label for="n2">Numero 2 </label>
         <input type="text" id="n2" name="n2">

         <select id="operacao" name="operacao">
             <option value="sum">soma</option>
             <option value="sub">sub</option>
             <option value="mul">multi</option>
             <option value="div">div</option>

         </select>
         <input type="submit" id="btnCalc" name="btnCalc" value="Calcular">
    </form>
    <figure>
        <img src="../Assets/img/imagem1.jpg">
    </figure>

    <label> Update Certo  </label>
</body>
</html>