<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Teste Tela Web</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<style>
    input{
        width: 300px;
        height: 20px;
        background-color: rgb(30, 133, 30);
        border-radius: 5px;
        font-size: 15px;
        color: whitesmoke;
        
    }
    .figure{
        border: 20px;
        
                

    }
    
    
    

</style>
<body>
     
     <div class="container-fluid">
         <div class="row-fluid">
             <div class="col-md-7">
                  <t><div class="panel-heading">Cadastro Web</div></t>
                  <div class="panel-body">
                    
                         <div class="form-group">
                             <label for="inputID" class="col-sm-2 control-label">ID</label>
                             <div class="col-sm-2">
                                 <input type="text" class="form-control" id="inputID">
                             </div>
                         </div>
                        <div class="form-group">
                            <label for="inputNome" class="col-sm-2 control-label">Nome</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputNome" name="nome">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputIdade" class="col-sm-2 control-label">Idade</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="inputIdade" name="idade" value="0">
                            </div>
                        </div></form></br>
                        <div class="form-group">
                            <div class="col-sm-offset-4">
                                <form action="entrar.html" method="POST">
                                <button type="submit" class="btn btn-success">Gravar</button>
                                <a href="entra.html"></a> 
                                <label> Esta certo </label></br> 
                                <figure>
                                     <img src= "../Assets/img/logonovo.png">
                                </figure>
                                <label> Teste Atualizacao</label></br>
                                <label> Teste Tortoise</label>
                                <label> Teste UP </label>
                            </form>                           
                            </div>
                        </div>


                    </form>

                  </div>

             </div>
        
         </div>












     </div>









</body>
</html>

</html>